<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>




<div class="navbar bg-base-100">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">Lego Collection</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a class="active" href="/about">About</a>
        <li>
          <details>
            <summary>
              Theme
            </summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a href="/lego/sets/theme/Supplemental">Supplemental</a></li>
              <li><a href="/lego/sets/theme/Classic Town">Classic Town</a></li>
              <li><a href="/lego/sets/theme/Classic Castle">Classic Castle</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

  
  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">Darius Bruno The Story!</p>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mx-auto">
    
  <div class="grid grid-flow-col auto-cols-max">
    <div>
        <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1473042904451-00171c69419d?q=80&w=1199&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
    </div>
    <div>
        Hi, I'm Darius Bruno.<br>
I'm a student at Seneca College.<br>
Before this, I studied at Wilfrid Laurier University.<br>
Now, I'm excited about starting a new career path.<br><br>
I want to first become a developer and then work in cybersecurity.<br>
I'm really looking forward to this new journey in tech!<br>
This picture is a picture of Atlanta,<br>
a city which means a lot to me and it's somewhere that has a big impact on the world.<br>
I hope some day I can move there or even visit!

    </div>
  </div>
  </div>
  
  


<body>
    
</body>
</html>