<!--
/********************************************************************************
* WEB322 – Assignment 04
*
* I declare that this assignment is my own work in accordance with Seneca's
* Academic Integrity Policy:
*
* https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
*
* Name: Darius Bruno Student ID: 047701073 Date: 3/15/2024
*
* Published URL: https://prussian-blue-sea-lion-hose.cyclic.app/
*
********************************************************************************/
-->
<%- include('partials/navbar', { page: '/about' }) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">About</h1>
          <p class="py-6">Darius Bruno The Story!</p>
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="container mx-auto">
    
  <div class="grid grid-flow-col auto-cols-max">
    <div>
        <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1473042904451-00171c69419d?q=80&w=1199&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" />
    </div>
    <div>
        Hi, I'm Darius Bruno.<br>
I'm a student at Seneca College.<br>
Before this, I studied at Wilfrid Laurier University.<br>
Now, I'm excited about starting a new career path.<br><br>
I want to first become a developer and then work in cybersecurity.<br>
I'm really looking forward to this new journey in tech!<br>
This picture is a picture of Atlanta,<br>
a city which means a lot to me and it's somewhere that has a big impact on the world.<br>
I hope some day I can move there or even visit!

    </div>
  </div>
  </div>
  
<body>
    
</body>
</html>